.template-text {
    margin-bottom: 20px;
}

.icon {
    width: 48px;
    height: 48px;
    color: #0000ff;
}

div {
    display: flex;
    color: #000;
}

div.image {
    background: url('@/assets/images/img.jpeg') no-repeat;
    background-size: contain;
    height: 50px;
    margin-bottom: 20px;
    color: #fff;
}

.anonim {
    // background: url('@/assets/icons/anonim.svg') no-repeat;
}

img {
    height: 100px;
}